
.card{
list-style-type: none;

}
.cardImage{
    display: block;
    max-width: 250px;

}
.cardTitle{
color:#d397d5;
font-size: 28px;
max-width: 250px;
margin-bottom: 12px;
}
.cardArtist {
color: #d397d5;
font-size: 18px;
font-weight: 600;
margin-bottom:8px;
}
.cardGenre{
color: #d397d5;
font-size: 18px;
margin-bottom: 12px;
}
.rhap_volume-button{
    color: azure;
}
.rhap_main-controls-button{
    color: azure;
}