
.card{
list-style-type: none;
max-width: 250px;
}
.cardImage{
    display: block;
    max-width: 250px;
}
@media only screen and (min-width:1024px) {
    .card{
        max-width: 220px;
    }
        .cardImage {
            display: block;
            max-width: 220px;
        }
}
@media only screen and (min-width:1440px) {
    .card {
        max-width: 250px;
    }

    .cardImage {
        display: block;
        max-width: 250px;
    }
}

.cardTitle{
color:#d397d5;
font-size: 24px;
max-width: 250px;
margin-bottom: 12px;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
    overflow: hidden;

}
.cardArtist {
color: #d397d5;
font-size: 16px;
font-weight: 600;
margin-bottom:8px;
}
.cardGenre{
color: #d397d5;
font-size: 16px;
margin-bottom: 12px;
}
.rhap_volume-button{
    color: azure;
}
.rhap_main-controls-button{
    color: azure;
}
