.musicList{
display: flex;
align-items: center;
gap: 8px;
}

.songTitle {
    color: #d397d5;
    font-size: 22px;
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media only screen and (min-width:768px){
    .songTitle {
            max-width: 500px;
           
        }
}

.songArtist {
    color: #f7d3f9;
    font-size: 16px;
    font-weight: 600;
}

.songGenre {
    color: #d397d5;
    font-size: 16px;
    margin-bottom: 12px;
}

.playButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
