.hero{
    margin:0 auto ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../../public/hero.jpg");
   
    background-size: cover;
    background-position: center top;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-color: #000;

}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap:150px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .hero {
min-height: 40vh;
    }
    .heroContainer {
    max-width: none;
        }
} 
@media only screen and (min-width: 1024px) {
    .hero {
        min-height: 50vh;
    }
}

@media only screen and (min-width: 1440px) {
    .hero {
        min-height: 60vh;
    }
}
.heroTitle{
position: relative;
max-width: 150px;
margin-bottom: 16px;
padding-top: 32px ;
font-size: 36px;
color: #d364d7;
text-shadow:
        0 0 10px #ba7fa2a3,
        0 0 20px #f0cde19c,
        0 0 30px #ffa1d875;
}
.heroTitle::after{
  content: "";  
  position: absolute;
  left:0;
bottom: 0;
    width:120px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff00cc, #9d00ff, transparent);
    box-shadow: 0 0 10px #ff00cc, 0 0 20px #9d00ff;
animation: glowPulse 2s infinite;
}
@keyframes glowPulse {
        0% {
            opacity: 0.5;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0.5;
        }
    }

.heroSubtitle{
    display: inline-block;
    max-width: 180px;
margin-bottom: 20px;
font-style: italic;
    font-size: 18px;
    color: #d397d5;
    text-shadow:
        0 0 10px #ba7fa2a3,
        0 0 20px #f0cde19c,
        0 0 30px #ffa1d875;
}
.heroDescription{
color: #eed9ef;
margin: 0;
font-style: italic;
font-size: 16px;
}



@media only screen and (min-width:768px) {
    .heroTitle{
font-size: 42px;
padding-top: 72px;
max-width: 420px;

    } 
    .heroSubtitle{
font-size: 42 ;
max-width: none;
    } 
    .heroDescription{
font-size: 22px;
    }
}

@media only screen and (min-width:1440px) {
    .heroDescription{
        font-size: 30px;
    }
         .heroTitle {
             font-size: 48px;
             padding-top: 72px;
             max-width: 520px;
    
         }
         .heroSubtitle {
             font-size: 48;
         }
                  .heroContainer {
                    gap:170px;
                  margin-bottom:48px ;}
}

.btnAboutMe{
   
    animation: fadeSlide 1.5s ease forwards,
     floating 3s ease-in-out infinite;
}
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }}
        @keyframes floating {
    
            0%,
            100% {
                transform: translateY(0);
            }
    
            50% {
                transform: translateY(-5px);
            }
        }