.hero{
    margin:0 auto ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
 url("../../public/Images/hero.jpg");
    background-size: cover;
    background-position: top;
    min-height: 70vh;
    background-repeat: no-repeat;
    /* max-width: 1024px; */
}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap:150px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .hero {
font-size: 36px;
min-height: 70vh;
    }
    .heroContainer {
    max-width: none;
        }
} 

.heroTitle{
position: relative;
max-width: 150px;
margin:0;
margin-bottom: 16px;
padding-top: 32px ;
font-size: 36px;
color: #d364d7;
    text-shadow:
        0 0 10px #ba7fa2a3,
        0 0 20px #f0cde19c,
        0 0 30px #ffa1d875;
}
.heroTitle::after{
  content: "";  
  position: absolute;
  left:0;
bottom: 0;
    width:100px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff00cc, #9d00ff, transparent);
    box-shadow: 0 0 10px #ff00cc, 0 0 20px #9d00ff;
  
}

.heroSubtitle{
    display: inline-block;
    max-width: 180px;
margin: 0;
margin-bottom: 20px;
font-style: italic;
    font-size: 18px;
    color: #d397d5;
    text-shadow:
        0 0 10px #ba7fa2a3,
        0 0 20px #f0cde19c,
        0 0 30px #ffa1d875;
}
.heroDescription{
color: #eed9ef;
margin: 0;
font-style: italic;
font-size: 16px;
}



@media only screen and (min-width:768px) {
    .heroTitle{
font-size: 42px;
padding-top: 72px;
max-width: 300px;

    } 
    .heroSubtitle{
font-size: 42 ;
max-width: none;
    } 
    .heroDescription{
font-size: 22px;
    }
}
