body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: --font-geist-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-left: 0;
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

